/* 字型大小 */
h1{
    font-size: 128px;
}
h2{
    font-size: 64px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}


/* 字體顏色 */
.text-primary{
    color: white;
}
.text-secondary{
    color: #15161D;;
}