/* flex */
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}